a{
    text-decoration:none;
}
.head{
    padding-top:20px;
    .warp{
        margin:0 auto;
        width:990px;
        height:73px;
        .logo{
            float:left;
            height:63px;
            padding-top:10px;
            background:url(../img/newlogo.png) no-repeat 0 10px;
            width:427px;
        }
    }
}

.AllWrapInside{
    width: 980px;margin: 0 auto;
    .loinform{
        .RegisterWrap{
            margin:0;
            .form{
                padding:0px;border:0;
            }
        }
    }
}

.login_box{
    width:85%;
    background: #fafafa;
    border:1px solid #eee;
    box-shadow:3px 3px #f5f5f5;
    margin-top:35px;
    table{
        margin:0 auto;
        tbody{

        }
    }
}
.x-input{
    width:220px;border:1px solid #ccc;padding:3px 5px;
}

#verifyTr{
    input{
        width: 65px;
    }
    .verifyCode{
        display: block;
        img{
            vertical-align:middle;padding:5px 0;background:#eee;

        }
        a{
            color:#666;
        }
    }
}
th{
    text-align:right;
    color:#666;
    width: 60px;
    font-size: 14px;vertical-align: middle;font-weight: 100;
}
#fast_login{
    background: url('../img/scn04.png') no-repeat 0 -198px;
    width: 89px;height: 38px;color:#fff;font-weight: bold;
    border:none;cursor:pointer;
}
.c777{
    font-size: 14px;
    color:#777;
}
#fast_login_reg{
    color:#f60;
    text-decoration:underline;
}
.login-IconList{
    float:left;
    padding-top: 5px;
    width: 115px;
    height: 20px;
    overflow:visible;
}
.login-descript{
    padding-top:12px;
}
.foot{
    margin:30px auto 0;
    width:980px;
    border-top:2px solid #CE3C3B;
    // background:none;
    .row02{
        text-align: center;
        padding: 20px 0;
        i{
            font-size: 20px;
            color: #c00;
            font-weight: 700;
        }
    }
}