@charset "UTF-8";
#scn_pro {
  width: 990px;
  margin: 0 auto;
}

#scn_pro .Navigation {
  padding: 8px 0;
  color: #999;
}

#scn_pro .Navigation span {
  margin: 0 5px 0 0;
}

#scn_pro .goods-viewer {
  width: 100%;
  height: 500px;
  background-color: red;
}

#scn_pro .goods-viewer .goods_left {
  float: left;
  width: 432px;
  height: 432px;
  background-color: skyblue;
}

#scn_pro .goods-viewer .goods_right {
  float: right;
  width: 543px;
  height: 475px;
  background-color: #fff;
}

#scn_pro .goods-viewer .goods_right .goodnamewarp {
  height: 32px;
  line-height: 32px;
  margin-bottom: -4px;
}

#scn_pro .goods-viewer .goods_right .goodnamewarp .morebrand {
  font-size: 12px;
  font-weight: normal;
  float: right;
  display: block;
  color: #999;
}

#scn_pro .goods-viewer .goods_right .goodnamewarp .morebrand a {
  color: #F60;
  background: 0;
  border: 0;
}

#scn_pro .goods-viewer .goods_right .goodnamewarp .goodsname {
  margin: 0;
  font-size: 14px;
  width: 435px;
  color: #111;
}

#scn_pro .goods-viewer .goods_right .goodnamewarp .sp {
  margin: 5px 0;
  height: 1px;
  overflow: hidden;
  clear: both;
  background: url(../img/pro_detial_icon1.png) repeat-x;
}

#scn_pro .goods-viewer .goods_right ul.list {
  margin: 8px 5px 10px;
  display: block;
}

#scn_pro .goods-viewer .goods_right ul.list li {
  color: #666;
  display: block;
  line-height: 25px;
}

#scn_pro .goods-viewer .goods_right ul.list li span {
  vertical-align: middle;
}

#scn_pro .goods-viewer .goods_right ul.list li .salePrice_big {
  color: #d00;
  font-size: 18px;
  font-weight: 700;
  font-family: verdana;
}

#scn_pro .goods-viewer .goods_right ul.list li .comCountBar, #scn_pro .goods-viewer .goods_right ul.list li .comCountBar i {
  display: inline-block;
  width: 60px;
  height: 11px;
  overflow: hidden;
  background: url(//images.s.cn/themes/scn2012/images/skin/pro_detial_icon1.png) no-repeat -99px -190px;
}

#scn_pro .goods-viewer .goods_right ul.list li .comCount {
  color: #2d499d;
}

#scn_pro .goods-viewer .goods_right .push_sale {
  padding: 10px 0 5px;
  font-family: '宋体';
  clear: both;
  color: #999;
  background: url(../img/pro_detial_icon1.png) repeat-x 0 -65px;
  height: 20px;
  line-height: 20px;
}

#scn_pro .goods-viewer .goods_right .push_sale .sbg {
  background: #ffe9e9;
  height: 20px;
}

#scn_pro .goods-viewer .goods_right .push_sale .sbg .t {
  height: 20px;
  padding: 0 5px;
  text-align: center;
  border-right: 2px solid #fff;
  float: left;
  color: #fff;
  background: #ff9090;
}

#scn_pro .goods-viewer .goods_right .push_sale .sbg .scon {
  padding: 0 5px;
  height: 20px;
  color: #fe6464;
  float: left;
  white-space: nowrap;
}

#scn_pro .goods-viewer .goods_right .btnBar {
  height: 58px;
  position: relative;
}

#scn_pro .goods-viewer .goods_right .btnBar #goods_ck_info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 240px;
  overflow: hidden;
  color: #666;
}

#scn_pro .goods-viewer .goods_right .btnBar .buynums, #scn_pro .goods-viewer .goods_right .btnBar .btnBar .buyCm {
  padding: 0 3px;
  color: #C00;
  font-weight: 700;
  font-family: '宋体';
}

#scn_pro .goods-viewer .goods_right .btnBar .btnsBox {
  width: 171px;
  height: 46px;
  position: absolute;
  bottom: 5px;
  right: 110px;
  text-align: right;
  vertical-align: bottom;
}

#scn_pro .goods-viewer .goods_right .btnBar .btnsBox .btn-buy {
  width: 171px;
  height: 44px;
  background: url(../img/pro_detial_icon1.png) no-repeat -1px -124px;
  float: right;
}

#scn_pro .goods-viewer .goods_right .btnBar .btnsBox .btn-fastbuy {
  float: left;
  width: 137px;
  height: 44px;
  background: url(../img/pro_detial_icon1.png) no-repeat -1px -447px;
}

#scn_pro .goods-viewer .goods_right .btnBar .scn_baozheng {
  clear: both;
  background: url(../pro_detial_icon1.png) repeat-x 0 -65px;
  padding: 10px 0;
  font-family: '宋体';
  color: #777;
}
