* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  font-size: 12px;
  color: #333;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.chuang11h1, .chuang11h2, .chuang11h3, .chuang11h4, .chuang11h5 {
  position: relative;
  width: 100%;
}

.chuang11h1 img, .chuang11h2 img, .chuang11h3 img, .chuang11h4 img, .chuang11h5 img {
  width: 100%;
  display: block;
}

.man_women_peijian {
  width: 100%;
  height: 268px;
}

.man_women_peijian .mwp {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.man_women_peijian .mwp .man {
  width: 38%;
  height: 100%;
  float: left;
  border-right: 1px solid #ccc;
}

.man_women_peijian .mwp .man img {
  display: block;
  z-index: 8;
  margin-top: -15px;
  position: relative;
  float: left;
}

.man_women_peijian .mwp .man ul {
  float: left;
  width: 29%;
  height: 80%;
}

.man_women_peijian .mwp .man ul .cate_shoe {
  height: 47px;
  width: 120px;
  background: url("../img/yifu.png") no-repeat;
}

.man_women_peijian .mwp .man .changjing_leibie {
  width: 35%;
  float: left;
  height: 100%;
}

.man_women_peijian .mwp .man .changjing_leibie ul {
  width: 100%;
  height: 100%;
}

.man_women_peijian .mwp .man .changjing_leibie ul .leibie {
  width: 40%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 13px;
}

.man_women_peijian .mwp .man .changjing_leibie ul .leibie p a {
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.man_women_peijian .mwp .man .changjing_leibie ul .changjing {
  width: 42%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 13px;
}

.man_women_peijian .mwp .man .changjing_leibie ul .changjing p a {
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.man_women_peijian .mwp .women {
  width: 38%;
  height: 100%;
  float: left;
  border-right: 1px solid #ccc;
}

.man_women_peijian .mwp .women img {
  display: block;
  z-index: 8;
  margin-top: -15px;
  position: relative;
  float: left;
}

.man_women_peijian .mwp .women ul {
  float: left;
  width: 29%;
  height: 80%;
}

.man_women_peijian .mwp .women ul .cate_shoe1 {
  height: 47px;
  width: 120px;
  background: url("../img/yifu.png") no-repeat;
}

.man_women_peijian .mwp .women .changjing_leibie1 {
  width: 35%;
  float: left;
  height: 100%;
}

.man_women_peijian .mwp .women .changjing_leibie1 ul {
  width: 100%;
  height: 100%;
}

.man_women_peijian .mwp .women .changjing_leibie1 ul .leibie1 {
  width: 40%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 13px;
}

.man_women_peijian .mwp .women .changjing_leibie1 ul .leibie1 p a {
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.man_women_peijian .mwp .women .changjing_leibie1 ul .changjing1 {
  width: 42%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 13px;
}

.man_women_peijian .mwp .women .changjing_leibie1 ul .changjing1 p a {
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.man_women_peijian .mwp .peijian {
  width: 23%;
  height: 100%;
  float: left;
}

.man_women_peijian .mwp .peijian img {
  float: left;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 {
  width: 45%;
  float: left;
  height: 100%;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 ul {
  width: 100%;
  height: 100%;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 ul .leibie2 {
  width: 40%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 10px;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 ul .leibie2 p a {
  display: block;
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 ul .changjing2 {
  width: 42%;
  margin-top: 15%;
  float: left;
  display: block;
  border-right: 1px solid #e2e2e2;
  padding-left: 10px;
}

.man_women_peijian .mwp .peijian .changjing_leibie2 ul .changjing2 p a {
  display: block;
  font-size: 14px;
  color: #575757;
  height: 26px;
}

.shoe_nav, .sportclose_nav, .running_nav, .basketball_nav, .football_nav, .bag_nav {
  width: 100%;
  height: 126px;
  position: relative;
}

.shoe_nav table tbody tr td img, .sportclose_nav table tbody tr td img, .running_nav table tbody tr td img, .basketball_nav table tbody tr td img, .football_nav table tbody tr td img, .bag_nav table tbody tr td img {
  display: block;
  position: absolute;
  left: -310px;
  top: 0;
}

.product_list {
  display: block;
  text-align: center;
}

.product_list dl {
  width: 220px;
  margin: 20px 11px 10px;
  border: 1px solid #eee;
  height: 291px;
  float: left;
}

.product_list dl dt {
  height: 210px;
  border: 0;
  padding: 3px 0 3px;
  position: relative;
}

.product_list dl dt img {
  height: 210px;
  width: 210px;
  display: block;
  border: 0;
}

.product_list dl dd {
  z-index: 2;
  margin: 0 1px 1px;
  border-top: 1px solid #f3f3f3;
  height: 55px;
  position: relative;
}

.product_list dl dd a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.product_list dl dd a ul {
  height: 63px;
  width: 203px;
  padding: 5px 5px 5px 10px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.product_list dl dd a ul li {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.product_list dl dd a ul .r3 {
  color: #999;
}

.product_list dl dd a ul .r4 {
  display: none;
  color: #555;
  padding: 5px 0;
  height: auto;
}

.page_l {
  border-top: 1px dotted #ccc;
  margin-top: 10px;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}

.page_l span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #dfdfdf;
  color: #666;
}

.page_l span.active {
  background-color: #fc0;
  color: #fff;
}

.footbrand {
  height: 143px;
  width: 80%;
  margin: 0 auto;
}

.footbrand ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.footbrand ul li {
  width: 10%;
  height: 50%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}

.footbrand ul li a:hover span {
  background: #000;
  opacity: 0.1;
  transition: background-color 0.3s;
}

.footbrand ul li .nike {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .nike i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat 0 -234px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .nike span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .adids {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .adids i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat 0 0px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .adids span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .syc {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .syc i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -172px -234px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .syc span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .neo {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .neo i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -667px -118px;
  position: absolute;
  top: 10px;
  left: 3px;
}

.footbrand ul li .neo span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .nb {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .nb i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -498px -118px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .nb span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .kw {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .kw i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -837px 0;
  position: absolute;
  top: 6px;
  left: 10px;
}

.footbrand ul li .kw span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .skq {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .skq i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -498px -349px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.footbrand ul li .skq span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .puma {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .puma i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -314px -234px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .puma span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .rb {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .rb i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -498px -231px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .rb span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .asics {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .asics i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -314px 0px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .asics span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .umbro {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .umbro i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -173px -349px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .umbro span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .at {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .at i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -842px -340px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .at span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .ln {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .ln i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -314px -118px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .ln span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .vans {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .vans i {
  display: block;
  width: 70%;
  height: 80%;
  background: url("../img/pingpailogo.fw.png") no-repeat -690px -349px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.footbrand ul li .vans span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .tlz {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .tlz i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat 0 -349px;
  position: absolute;
  top: 10px;
  left: 2px;
}

.footbrand ul li .tlz span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .discover {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .discover i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -314px -349px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.footbrand ul li .discover span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .dc {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .dc i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -498px 0px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .dc span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .nktx {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .nktx i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat 0 -234px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .nktx span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .adtx {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .adtx i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat -173px 0px;
  position: absolute;
  top: 2px;
  left: 10px;
}

.footbrand ul li .adtx span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.footbrand ul li .gzh {
  display: block;
  width: 100%;
  height: 100%;
}

.footbrand ul li .gzh i {
  display: block;
  width: 90%;
  height: 90%;
  background: url("../img/pingpailogo.fw.png") no-repeat 0 -118px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.footbrand ul li .gzh span {
  display: block;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9em;
}

.btmfenlei_hd {
  height: 36px;
  width: 80%;
  margin: 0 auto 28px;
  clear: both;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.btmfenlei_hd h3 {
  margin-bottom: 0px;
  margin-left: -60px;
  margin-right: 0px;
  margin-top: 12px;
  padding: 10px 20px;
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  left: 470px;
  background: #fff;
}

.btmfenlei_body {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 184px;
}

.btmfenlei_body dl {
  width: 24.8%;
  float: left;
  padding-right: 2px;
  height: 184px;
}

.btmfenlei_body dl dt {
  text-align: center;
}

.btmfenlei_body dl dt a {
  color: #222;
}

.btmfenlei_body dl dt a s {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.btmfenlei_body dl dt a img {
  text-align: center;
}

.btmfenlei_body dl dd {
  border-right: 1px dotted #ccc;
  height: 85px;
  padding: 0px 10px 0px 15px;
}

.btmfenlei_body dl dd a {
  color: #555;
  display: block;
  float: left;
  margin-bottom: 10px;
  white-space: nowrap;
  width: 54px;
  font-size: 12px;
}

.warp a img {
  margin: 0 auto;
  display: block;
}
